.container {
  display: grid;
  grid-template-rows: 1fr repeat(12, 140px);
  grid-template-columns: 1;
  gap: 2.4rem;
}

.topText {
  grid-column: 1;
  grid-row: 1 / 6;
  background-color: blue;
}

.card {
  grid-column: 1;
  grid-row: 5 / 8;
  background-color: red;
  opacity: 0.5;
  z-index: 1;
}
