@use "../../styles/abstracts/mixins";

.container {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.heroImage {
  width: 100%;
  display: block;
}

.innerContent {
  width: 100%;
  max-width: 27.9rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include mixins.mq(sm){
    left: 5.8rem;
    max-width: 39.8rem;
    transform: translate(0, -50%);
  }
  @include mixins.mq(md){
    transform: translate(0, -50%);
    left: 8.5rem;
    max-width: 49.3rem;
  }

}