@use "../../styles/abstracts/colors";
$item-bold-weight: 700;

.item {
  a {
    font-size: 1.2rem;
    font-weight: $item-bold-weight;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
    color: colors.$grey;
  }
}

.item + .item{
  margin-left: 3.2rem;
}

