html{
  font-size: 62.5%;
}

body {
  font-family: 'Barlow', sans-serif;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

h1 {
  font-family: 'Fraunces';
  font-size: 7.2rem;
  line-height: 7.2rem;
}

h2 {
  font-family: 'Fraunces';
  font-size: 4rem;
  line-height: 4.8rem;
}

h3 {
  font-family: 'Fraunces';
  font-size: 3.2rem;
  
}

h4 {

}
